einops>=0.6
matplotlib>=3.7
numpy>=1.23
pycolormap-2d>=1.0
pytorch3d>=0.7; platform_system != "Darwin" or platform_machine != "arm64"
pytest>=7.0
ruff>=0.4
scikit-learn>=1.2
scipy>=1.10
torch>=2.0
tqdm>=4.0
umap-learn>=0.5
